# 1

In [1]:
import pandas as pd

In [40]:
data = pd.read_excel('iris.xls')
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

# 2

In [11]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

# 3

In [22]:
print('Mean of SL is: ',round(data['SL'].mean(),2))
print('Mean of SW is: ',round(data['SW'].mean(),2))
print('Mean of PL is: ',round(data['PL'].mean(),2))
print('Mean of PW is: ',round(data['PW'].mean(),2))

Mean of SL is:  5.84
Mean of SW is:  3.05
Mean of PL is:  3.76
Mean of PW is:  1.2

# 4

In [41]:
if((data.isna().values.any())==True):
    print('Null values present')
else:
    print('No null values present')

No null values present

# 5